<section id="diploma-banner">
  <div class="diploma-banner-items">
    <h1>diploma courses at the university</h1>
    <br />
    <p>COLLEGE / UNIVERSITY / CAMPUS</p>
    <button type="button" class="btn btn-default btn-xl">read more</button>
    <button type="button" class="btn btn-danger btn-xl">read more</button>
  </div>
</section>
