<div class="hero">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 col-md-6 col-sm-12">
                     <div class="video-title">
            <h1>Great students community</h1>
              <br>
              <p>COLLEGE / UNIVERSITY / CAMPUS</p>
                
                   <button type="button" class="btn btn-success btn-lg">take a tour</button> 
                   <button type="button" class="btn btn-primary btn-lg">about us</button>
              
        </div>
                </div>
            </div>
        </div>
       
        
        <video class="video-bg" autoplay muted loop>
            <source src="/video/video.mp4" type="video/mp4">
        </video>
        
        
    </div>
        