
 
        
		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><span class="submenu">acadimic</span>
					<ul class="submenu">
						<li><a href="/diploma-courses">diploma course</a></li>
						<li><a href="#">master courses</a></li>
                        <li><a href="#">graduate courses</a></li>
                        <li><a href="#">apply online</a></li>
					</ul>
				</li>
				<li><span class="submenu">about</span>
					<ul class="submenu">
						<li><a href="#">plan a visit</a></li>
						<li><a href="#">about us</a></li>
						<li><a href="#">gallary</a></li>
						<li><a href="#">staff</a></li>
						
					</ul>
                </li>
                <li><span class="submenu">page</span>
					<ul class="submenu">
						<li><a href="#">video</a></li>
						<li><a href="#">blog</a></li>
						<li><a href="#">single courses</a></li>
						
					</ul>
				</li>
				
                <li class="last"><a href="/home/dashboard">contact us</a></li>
                <li class="last"><a href="/">register</a></li>
				<li class="right"><a href="#">Right Aligned</a></li>
				<li class="onmobile"><a href="#">Only On Mobile</a></li>
			</ul>
		</nav><!-- end of #nav -->
    
       