<section class="container fluid">
    <div class="col-sm-12">
        <br />
        <h1>Responsive Menu</h1>
		<nav id="nav">
			<ul>
				<li><a href="menu.html">Home</a></li>
				<li><span class="submenu">Dropdown</span>
					<ul class="submenu">
						<li><a href="#">Dropdown Item</a></li>
						<li><a href="#">Dropdown Item That is a Bit Too Long</a></li>
						<li><a href="#">Dropdown Item</a></li>
					</ul>
				</li>
				<li><span class="submenu">Dropdown</span>
					<ul class="submenu">
						<li><a href="#">Dropdown Item</a></li>
						<li><a href="#">Dropdown Item</a></li>
						<li><a href="#">Dropdown Item</a></li>
						<li><a href="#">Dropdown Item</a></li>
						<li><a href="#">Dropdown Item</a></li>
						<li><a href="#">Dropdown Item</a></li>
						<li><a href="#">Dropdown Item</a></li>
						<li><a href="#">Dropdown Item</a></li>
						<li><a href="#">Dropdown Item</a></li>
						<li><a href="#">Dropdown Item</a></li>
						<li><a href="#">Dropdown Item</a></li>
						<li><a href="#">Dropdown Item</a></li>
					</ul>
				</li>
				<li><a href="#">About Us</a></li>
				<li class="last"><a href="#">Last Item</a></li>
				<li class="right"><a href="#">Right Aligned</a></li>
				<li class="onmobile"><a href="#">Only On Mobile</a></li>
			</ul>
		</nav><!-- end of #nav -->
    </div>