
 
        
		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><span class="submenu">acadimic</span>
					<ul class="submenu">
						<li><a href="/diploma-courses">diploma course</a></li>
						<li><a href="#">master courses</a></li>
                        <li><a href="#">graduate courses</a></li>
                        <li><a href="#">apply online</a></li>
					</ul>
				</li>
				<li><span class="submenu">about</span>
					<ul class="submenu">
						<li><a href="#">plan a visit</a></li>
						<li><a href="#">about us</a></li>
						<li><a href="#">gallary</a></li>
						<li><a href="#">staff</a></li>
						
					</ul>
                </li>
                <li><span class="submenu">page</span>
					<ul class="submenu">
						<li><a href="#">video</a></li>
						<li><a href="#">blog</a></li>
						<li><a href="#">single courses</a></li>
						
					</ul>
				</li>
				
                <li class="last"><a href="/home/dashboard">contact us</a></li>
                <li class="last"><a href="/">register</a></li>
				<li class="right"><a href="#">Right Aligned</a></li>
				<li class="onmobile"><a href="#">Only On Mobile</a></li>
			</ul>
		</nav><!-- end of #nav -->
    
        <div class="hero">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-12 col-md-6 col-sm-12">
                         <div class="video-title">
                <h1>Great students community</h1>
                  <br>
                  <p>COLLEGE / UNIVERSITY / CAMPUS</p>
                    
                       <button type="button" class="btn btn-success btn-lg">take a tour</button> 
                       <button type="button" class="btn btn-outline btn-lg">about us</button>
                  
            </div>
                    </div>
                </div>
            </div>
           
            
            <video class="video-bg" autoplay muted loop>
                <source src="/video/video.mp4" type="video/mp4">
            </video>
            
            
        </div>
            